package templates

import (
	"fmt"
	"github.com/dmitkov28/dietapp/data"
)

templ FoodLog(foodLogs []data.FoodLogEntry, totals data.FoodLogTotals) {
	@Base("Food Log") {
		<div class="w-full flex flex-col flex-1 justify-center items-center p-8">
			<div class="w-full grid grid-cols-1 md:grid-cols-2 md:gap-4 p-6 mx-auto bg-white rounded-lg shadow-md border  max-h-[600px]">
				<div class="col-span-1 md:col-span-2 flex justify-between items-center mb-4">
					<h2 class="text-xl font-bold text-gray-800">Food Log</h2>
					<span class="text-sm text-gray-500">12/13/2024</span>
				</div>
				<div class="col-span-1">
					<div class="mb-4">
						<h3 class="text-lg font-semibold text-gray-700">Total Calories</h3>
						<div class="flex items-center justify-between mt-2">
							<span class="text-2xl font-bold text-gray-800">{ fmt.Sprintf("%.0f", totals.TotalCalories) }</span>
							<span class="text-sm text-gray-500">of { fmt.Sprintf("%.0f", 2000.8) } kcal</span>
						</div>
						<div class="w-full bg-gray-200 rounded-full h-2.5 mt-2">
							<div
								class={ fmt.Sprintf("bg-green-500 h-2.5 rounded-full w-[%d%%]", 22) }
							></div>
						</div>
					</div>
					<div>
						<h3 class="text-lg font-semibold text-gray-700 mb-2">Macros</h3>
						<div class="mb-4">
							<div class="flex justify-between text-sm text-gray-700">
								<span>Protein</span>
								<span>{ fmt.Sprintf("%.1f", totals.TotalProtein) }g of 150g</span>
							</div>
							<div class="w-full bg-gray-200 rounded-full h-2.5 mt-1">
								<div class="bg-blue-500 h-2.5 rounded-full" style="width: 80%;"></div>
							</div>
						</div>
						<div class="mb-4">
							<div class="flex justify-between text-sm text-gray-700">
								<span>Carbs</span>
								<span>{ fmt.Sprintf("%.1f", totals.TotalCarbs) }g of 250g</span>
							</div>
							<div class="w-full bg-gray-200 rounded-full h-2.5 mt-1">
								<div class="bg-yellow-500 h-2.5 rounded-full" style="width: 80%;"></div>
							</div>
						</div>
						<div>
							<div class="flex justify-between text-sm text-gray-700">
								<span>Fat</span>
								<span>{ fmt.Sprintf("%.1f", totals.TotalCarbs) }g of 70g</span>
							</div>
							<div class="w-full bg-gray-200 rounded-full h-2.5 mt-1">
								<div class="bg-red-500 h-2.5 rounded-full" style="width: 71%;"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="mt-6 col-span-1 overflow-y-scroll relative">
					<h3 class="sticky top-0 bg-white text-lg font-semibold text-gray-700 mb-2">Logged Food</h3>
					<ul class="space-y-4">
						for _, entry := range foodLogs {
							<li class="flex justify-between items-center p-3 bg-gray-100 rounded-lg">
								<div>
									<h4 class="text-md font-medium text-gray-800">{ entry.FoodName }</h4>
									<p class="text-sm text-gray-500">
										Protein: { fmt.Sprintf("%.1f", entry.Protein) }g,
										Carbs: { fmt.Sprintf("%.1f", entry.Carbs) }g, 
										Fat: { fmt.Sprintf("%.1f", entry.Fats) }g
									</p>
								</div>
								<span class="text-sm font-medium text-gray-600">{ fmt.Sprintf("%.0f", entry.Calories) } kcal</span>
							</li>
						}
					</ul>
				</div>
			</div>
		</div>
	}
}
